/* prettier-ignore */
:root {
  --colors: 12;
  --color-1: #1b2b34;  /* black */
  --color-2: #a7adba;  /* light grey */
  --color-3: #fff;     /* white */
  --color-4: #b9ee96;  /* green */
  --color-5: #ee6bee;  /* purple */
  --color-6: #ff8f51;  /* orange */
  --color-7: #ff555f;  /* red */
  --color-8: #ffca5e;  /* yellow */
  --color-9: #39f;     /* blue */
  --color-10: #5a6971; /* dark grey */
  --color-11: #ab5333; /* brown */
  --color-12: #a8f6e3; /* cyan */

  /* colour positions on pad */
  --color-1-pos: 1;
  --color-10-pos: 2;
  --color-2-pos: 3;
  --color-3-pos: 4;
  --color-4-pos: 5;
  --color-5-pos: 6;
  --color-6-pos: 7;
  --color-7-pos: 8;
  --color-8-pos: 9;
  --color-11-pos: 10;
  --color-9-pos: 11;
  --color-12-pos: 12;
}

/* prettier-ignore */
[data-colour-palette="ctc"] {
  --colors: 9;
  --color-1: #000;     /* black */
  --color-2: #bfbfbf;  /* grey */
  --color-3: #fff;     /* white */
  --color-4: #a3e048;  /* green */
  --color-5: #d23be7;  /* purple */
  --color-6: #eb7532;  /* orange */
  --color-7: #e6261f;  /* red */
  --color-8: #f7d038;  /* yellow */
  --color-9: #34bbe6;  /* blue */
}

/* prettier-ignore */
[data-colour-palette="wong"] {
  --colors: 10;
  --color-1: #000;              /* black */
  --color-2: #a7adba;           /* grey */
  --color-3: #fff;              /* white */
  --color-6: rgb(230 159 0);    /* orange */
  --color-10: rgb(86 180 233);  /* sky blue */
  --color-4: rgb(0 158 115);    /* bluish green */
  --color-8: rgb(240 228 66);   /* yellow */
  --color-9: rgb(0 114 178);    /* blue */
  --color-7: rgb(213 94 0);     /* vermillon */
  --color-5: rgb(204 121 167);  /* reddish purple */

  /* colour positions on pad */
  --color-1-pos: 1;
  --color-2-pos: 2;
  --color-3-pos: 3;
  --color-6-pos: 4;
  --color-10-pos: 5;
  --color-4-pos: 6;
  --color-8-pos: 7;
  --color-9-pos: 8;
  --color-7-pos: 9;
  --color-5-pos: 10;
}
