:root {
  --color-1: #000;
  --color-2: #bfbfbf;
  --color-3: #fff;
  --color-4: #a3e048;
  --color-5: #d23be7;
  --color-6: #eb7532;
  --color-7: #e6261f;
  --color-8: #f7d038;
  --color-9: #34bbe6;
}
