html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

:root {
  font-size: 30px;
  text-rendering: geometricPrecision;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--bg);
  color: var(--fg);
}
