html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

:root {
  --font-family: "Roboto", sans-serif;

  font-size: 30px;
  text-rendering: geometricPrecision;

  @media (max-width: 1000px) {
    font-size: 26px;
  }

  @media (max-width: 800px) {
    font-size: 25px;
  }

  @media (max-width: 600px) {
    font-size: 24px;
  }

  @media (max-width: 350px) {
    font-size: 20px;
  }
}

body {
  font-family: var(--font-family);
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}
