@import "./variables";

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

:root {
  --font-family: "Roboto", sans-serif;

  font-size: 30px;
  text-rendering: geometricPrecision;

  @media (max-width: $lg) {
    font-size: 26px;
  }

  @media (max-width: $md) {
    font-size: 25px;
  }

  @media (max-width: $sm) {
    font-size: 24px;
  }

  @media (max-width: $xs) {
    font-size: 20px;
  }
}

html, body {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

body {
  font-family: var(--font-family);
}

a {
  color: var(--primary);
  text-decoration: underline;

  &:hover {
    color: var(--primary-highlight);
  }
}
