/* TODO use CSS relative colours in the future? (https://caniuse.com/css-relative-colors) */
:root {
  --bg: 255 255 255;
  --bg-alpha: rgba(255 255 255 / 75%);
  --fg: 51 51 51;
  --fg-alpha: rgba(51 51 51 / 50%);
  --grey-500: 204 204 204;
  --grey-600: 222 222 222;
  --grey-700: 237 237 237;
  --fg-500: var(--grey-500);
  --fg-600: var(--grey-600);
  --fg-700: var(--grey-700);
  --primary: 43 64 120;
  --primary-highlight: 58 84 156;
  --alert: 184 31 31;
  --digit: 75 106 190;
  --digit-small: 58 84 156;
  --button-hover: var(--grey-500);
  --button-active: var(--grey-500);
  --selection-yellow: 255 223 41;
  --selection-red: 255 41 73;
  --selection-green: 41 255 109;
  --selection-blue: 41 123 255;
}

[data-theme="dark"] {
  --bg: 46 52 64;
  --bg-alpha: rgba(46 52 64 / 75%);
  --fg: 236 239 244;
  --fg-alpha: rgba(236 239 244 / 50%);
  --grey-500: 46 52 64;
  --grey-600: 61 68 84;
  --grey-700: 69 77 94;
  --fg-500: var(--grey-700);
  --fg-600: var(--grey-600);
  --fg-700: var(--grey-500);
  --primary: 130 162 194;
  --primary-highlight: 163 187 209;
  --alert: 191 97 106;
  --digit: 129 161 193;
  --digit-small: 163 187 210;
  --button-hover: 112 126 153;
  --button-active: 112 126 153;
}
