@use "sass:color";

:root {
  --bg: rgb(255 255 255);
  --bg-alpha: rgba(255 255 255 / 75%);
  --fg: rgb(51 51 51);
  --fg-alpha: rgba(51 51 51 / 50%);
  --grey-500: #ccc;
  --grey-600: #ddd;
  --grey-700: #eee;
  --fg-500: var(--grey-500);
  --fg-600: var(--grey-600);
  --fg-700: var(--grey-700);
  --primary: #2b3f77;
  --primary-highlight: #{color.adjust(#2b3f77, $lightness: 10%)};
  --alert: #b81e1e;
  --border-radius: 10px;
  --border-radius-inner: 8px;
  --border-radius-mini: 4px;
  --digit: #{color.adjust(#2b3f77, $lightness: 20%)};
  --digit-small: #{color.adjust(#2b3f77, $lightness: 10%)};
  --button-hover: var(--grey-500);
  --button-active: var(--grey-500);
  --selection-yellow: #ffde2a;
  --selection-red: #ff2a4b;
  --selection-green: #2aff6f;
  --selection-blue: #2a7cff;
  --selection-darkgrey: #5a5a5a
}

[data-theme="dark"] {
  --bg: rgb(46 52 64);
  --bg-alpha: rgba(46 52 64 / 75%);
  --fg: rgb(236 239 244);
  --fg-alpha: rgba(236 239 244 / 50%);
  --grey-500: #2e3440;
  --grey-600: #3b4252;
  --grey-700: #434c5e;
  --fg-500: var(--grey-700);
  --fg-600: var(--grey-600);
  --fg-700: var(--grey-500);
  --primary: #81a1c1;
  --primary-highlight: #{color.adjust(#81a1c1, $lightness: 10%)};
  --alert: #bf616a;
  --digit: var(--primary);
  --digit-small: var(--primary-highlight);
  --button-hover: #{color.adjust(#434c5e, $lightness: 20%)};
  --button-active: #{color.adjust(#434c5e, $lightness: 20%)};
}
