.button {
  display: flex;
  color: var(--primary);
  border: 2px solid var(--grey-600);
  border-radius: var(--border-radius);
  padding: 0.32rem 0.4rem 0.28rem 0.4rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  height: 2em;
  min-height: 2em;
  line-height: 1em;

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: var(--button-hover);
  }

  &.active {
    background-color: var(--primary);
    color: var(--bg);
    border-color: var(--primary);

    &:hover {
      background-color: var(--button-active-hover);
      border-color: var(--button-active-hover);
    }
  }

  &.noPadding {
    padding: 0;
  }

  &.alert {
    background-color: var(--alert);
    border-color: var(--alert);
    color: var(--bg);
  }
}
