.palette {
  display: grid;
  grid-column-gap: 0.3em;
  margin-left: 0.05em;
  margin-top: 0.25em;
  margin-bottom: 0.5em;
}

.colour {
  width: 1em;
  height: 1em;
  box-shadow: 0 0 1px rgba(0 0 0 / 20%);

  &.customisable {
    cursor: pointer;
  }
}

input[type="color"] {
  visibility: hidden;
}

.customise-buttons {
  display: flex;
}

.add-button,
.remove-button {
  display: flex;
  width: 1em;
  height: 1em;
  cursor: pointer;
}
