.palette-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.palette {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 0.3em;
  margin-left: 0.05em;
  margin-top: 0.25em;
  margin-bottom: 0.5em;

  .colour {
    width: 1em;
    height: 1em;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  }
}

.selection-colours {
  display: grid;
  grid-template-columns: repeat(4, 1rem);
  grid-column-gap: 0.75em;
  margin-bottom: 1rem;
}

.selection-colour {
  display: flex;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  position: relative;

  .colour {
    display: flex;
    flex: 1;
    opacity: 0.6;
  }

  .check {
    position: absolute;
    color: var(--primary);
  }
}

.slider {
  margin-bottom: 0.5rem;
  max-width: 7rem;
}
