.status-bar {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 1.65rem;
  background-color: var(--grey-700);
  color: var(--fg);
  font-size: 0.8rem;
  font-weight: 400;
  padding-top: 2px;
}
