name: Node.js CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Setup Node.js 20.x
        uses: actions/setup-node@v6
        with:
          node-version: "20"

      - run: npm ci -f
      - run: npm run build
